:root {
  font-family: "ubuntu";
  font-weight: 400;
  --lavender: 	#c9c9ff;
  --display-height: 90vh;
  --image-height: 80vh;
  background-color: var(--lavender);
}

body {
  margin: 0px 5vw 0px 15vw;
}

.gridContainer {
  background: var(--lavender);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "sidebar mainContent"
    "sidebar mainContent"
    "sidebar footer";
}

#titleText {
  position: fixed;
  font-size: 100px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: whitesmoke;
  margin: auto;
  align-self: center;
}

main {
  grid-area: mainContent;
  margin: 20px;
  height: var(--display-height);
}

.flexContainer {
  display: flex;
}

#sideMenu {
  width: 10vw;
  height: var(--display-height);
  display: flex;
  position: fixed;
  grid-area: sidebar;
  margin: 20px;
}

#navigation {
  display: flex;
  align-self: center;
  display: none;
}

ul {
  align-self: center;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: grey;
}

.footer {
  grid-area: footer;
}

img {
  width: 100%;
  height: var(--image-height);
  object-fit: cover;
}

.slideShow {
  width: 100%;
  height: var(--image-height);
  align-self: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slideControl {
  position: absolute;
  /* width necessary for flex */
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  /* half the height of the slideBtns */
  margin-top: -21px;
}

.slideBtn {
  opacity: 20;
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.5)
}