#gameBoard {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  background: #f0f0f0;
  height: 500px;
  width: 500px;
  border-radius: 8px;
}

h2 {
  font-size: 40px;
  align-self: center;
  margin: 0px;
}

#start {
  background: none;
  border: 1px solid black;
  border-radius: 2px;
  display: inline;
  margin: 3px;
}

#scoreboard {
  margin: 3px;
}

.titleToolbar {
  /* width is required to use space-between */
  width: 500px;
  justify-content: space-between;
}

.scoreStart {
  align-self: center;
  margin: 10px;
}