.dragArea {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 30px;
  width: 70vw;
}

.dragBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2rem;
  padding: 1rem;
  background-color: #c9c9ff;
  border-radius: 30px;
}

.draggable {
  color: whitesmoke;
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
  background-color: grey;
  cursor: move;
  height: 6rem;
  width: 100%;
}

.dragging {
  opacity: 0.5;
}