.container {
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  background-color: whitesmoke;
}

.btn {
  background-color: var(--lavender);
  border: none;
  padding: 8px 10px;
}

.hidden {
  display: none;
}

.flexH {
  display: flex;
  flex-direction: row;
}

.flexV {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Font Sizes */

.sm {
  /* 16px */
  font-size: 1rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  /* 32px */
  font-size: 2rem;
}

.xl {
  /* 64px */
  font-size: 3rem;
}

.xxl {
  /* 128px */
  font-size: 4rem;
}
